.main {
  background-color: #f3f5fa;
  padding: 60px 80px 0 80px;
  min-height: 500px;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 49px;
  font-family: 'Inter', sans-serif;

  @media (max-width: 768px) {
    font-size: 24px;
    text-align: center;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 20px;
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
    gap: 15px;
  }
}